marquee{background: green; 
    color: whitesmoke;

}
.design{
    background: green;
    font-size: medium;
    justify-content: center;
    padding: 20px;
    border: 0cap;

}
.logo{
    background-image: url(c.jpg);
    font-family: 'Courier New', Courier, monospace;
    color:red;
}